NET "FCLKIN_P"			LOC=AD12 |  IOSTANDARD = LVDS; # 125MHz
NET "FCLKIN_N"			LOC=AD11 |  IOSTANDARD = LVDS;
NET "FPGA_RESET"		LOC=AB7  |  IOSTANDARD = LVCMOS15; # reset at low

NET "CLK_OUT1" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 2.5 ns HIGH 50%;

NET "F_LED[0]"	LOC=AB8  |  IOSTANDARD = LVCMOS15; # D8
NET "F_LED[1]"	LOC=AA8  |  IOSTANDARD = LVCMOS15; # D7
NET "F_LED[2]"	LOC=AC9  |  IOSTANDARD = LVCMOS15; # D6 uart tx
NET "F_LED[3]"	LOC=AB9  |  IOSTANDARD = LVCMOS15; # D5 uart rx

NET "PHY_TXC_GTXCLK"		LOC=K30 | IOSTANDARD=LVCMOS25 | SLEW = FAST;

NET "PHY_TXD[0]"			LOC=N27 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[1]"			LOC=N25 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[2]"			LOC=M29 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[3]"			LOC=L28 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[4]"			LOC=J26 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[5]"			LOC=K26 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[6]"			LOC=L30 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[7]"			LOC=J28 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXCTL_TXEN"		LOC=M27 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXER"				LOC=N29 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXCLK"				LOC=M28 | IOSTANDARD=LVCMOS25 ;

NET "PHY_RXD[0]"			LOC=U30 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[1]"			LOC=U25 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[2]"			LOC=T25 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[3]"			LOC=U28 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[4]"			LOC=R19 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[5]"			LOC=T27 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[6]"			LOC=T26 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[7]"			LOC=T28 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXCTL_RXDV"		LOC=R28 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXER"				LOC=V26 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXCLK"				LOC=U27 | IOSTANDARD=LVCMOS25;
NET "PHY_RXCLK" TNM_NET = "clk_rx_local";

# Timing constraints for Ethernet PHY
TIMESPEC "TS_rx_clk_root" = PERIOD "clk_rx_local" 8000 ps HIGH 50 %;

NET "PHY_RESET"				LOC=L20 | IOSTANDARD=LVCMOS25;