#NET "FCLK1"			LOC=V12; # 25MHz
#NET "FCLK2"			LOC=T13; # 25MHz
NET "FCLKIN_P"		LOC=E17; # 125MHz
NET "FCLKIN_N"		LOC=F17;
NET "FPGA_RESET"	LOC=T17; # reset at low
#TIMESPEC "TS_CLK_IN1" = PERIOD "CLK_IN1" 10.0 ns HIGH 50% INPUT_JITTER 100.0ps;

NET "CLK_OUT1" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 7 ns HIGH 50%;

NET "F_LED[0]"	LOC=A16  |  IOSTANDARD = LVCMOS25; # D8
NET "F_LED[1]"	LOC=A17  |  IOSTANDARD = LVCMOS25; # D7
NET "F_LED[2]"	LOC=A18  |  IOSTANDARD = LVCMOS25; # D6 uart tx
NET "F_LED[3]"	LOC=A19  |  IOSTANDARD = LVCMOS25; # D5 uart rx

NET "PHY_TXC_GTXCLK"		LOC=B10 | IOSTANDARD=LVCMOS25 | SLEW = FAST;

NET "PHY_TXD[0]"			LOC=A9  | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[1]"			LOC=B11 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[2]"			LOC=D10 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[3]"			LOC=C13 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[4]"			LOC=A11 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[5]"			LOC=D13 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[6]"			LOC=A12 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXD[7]"			LOC=B15 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXCTL_TXEN"		LOC=A8  | IOSTANDARD=LVCMOS25 | SLEW = FAST;
NET "PHY_TXER"				LOC=C11 | IOSTANDARD=LVCMOS25 | SLEW = FAST;
#NET "PHY_TXCLK"			LOC=D12 | IOSTANDARD=LVCMOS25 ;

NET "PHY_RXD[0]"			LOC=B9  | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[1]"			LOC=D9  | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[2]"			LOC=D8  | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[3]"			LOC=D7  | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[4]"			LOC=C8  | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[5]"			LOC=A6  | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[6]"			LOC=B8  | IOSTANDARD=LVCMOS25; 
NET "PHY_RXD[7]"			LOC=C7  | IOSTANDARD=LVCMOS25; 
NET "PHY_RXCTL_RXDV"		LOC=A7  | IOSTANDARD=LVCMOS25; 
NET "PHY_RXER"				LOC=C10 | IOSTANDARD=LVCMOS25; 
NET "PHY_RXCLK"			LOC=F6  | IOSTANDARD=LVCMOS25;
NET "PHY_RXCLK" TNM_NET = "clk_rx_local";

# Timing constraints for Ethernet PHY
TIMESPEC "TS_rx_clk_root" = PERIOD "clk_rx_local" 8000 ps HIGH 50 %;

NET "PHY_RESET"			LOC=D14;
#NET "PHY_INT"				LOC=A13;
#
#NET "PHY_COL"				LOC=C6
#NET "PHY_CRS"				LOC=B6
#NET "PHY_COMA"			LOC=C15
##NET "PHY_MDIO"			LOC=A14
#NET "PHY_MDC"				LOC=D15


#NET "CCLK"	LOC=M6; #FLASH
#NET "INIT"	LOC=H5; #FLASH
#NET "PROG"	LOC=F5; #FLASH
#NET "FLASH_A15"	LOC=R9;
#NET "FLASH_A14"	LOC=T8;
#NET "FLASH_A13"	LOC=U6;
#NET "FLASH_A12"	LOC=V6;
#NET "FLASH_A11"	LOC=T12;
#NET "FLASH_A10"	LOC=T11;
#NET "FLASH_A9"		LOC=V7;
#NET "FLASH_A8"		LOC=W7;
#NET "FLASH_A7"		LOC=V8;
#NET "FLASH_A6"		LOC=U8;
#NET "FLASH_A5"		LOC=Y6;
#NET "FLASH_A4"		LOC=Y7;
#NET "FLASH_A3"		LOC=W9;
#NET "FLASH_A2"		LOC=W8;
#NET "FLASH_A1"		LOC=T9;
#NET "FLASH_A0"		LOC=U10;
#NET "FLASH_A22"	LOC=AB8;
#NET "FLASH_A21"	LOC=Y12;
#NET "FLASH_A20"	LOC=AA12;
#NET "FLASH_A19"	LOC=U11;
#NET "FLASH_A18"	LOC=V11;
#NET "FLASH_A17"	LOC=AA11;
#NET "FLASH_A16"	LOC=Y11;
#NET "FLASH_D15"	LOC=T16;
#NET "FLASH_D14"	LOC=R16;
#NET "FLASH_D13"	LOC=V17;
#NET "FLASH_D12"	LOC=V18;
#NET "FLASH_D11"	LOC=V13;
#NET "FLASH_D10"	LOC=W13;
#NET "FLASH_D9"		LOC=W18;
#NET "FLASH_D8"		LOC=W17;
#NET "FLASH_D7"		LOC=V16;
#NET "FLASH_D6"		LOC=U16;
#NET "FLASH_D5"		LOC=W19;
#NET "FLASH_D4"		LOC=Y19;
#NET "FLASH_D3"		LOC=R14;
#NET "FLASH_D2"		LOC=R15;
#NET "FLASH_D1"		LOC=U15;
#NET "FLASH_D0"		LOC=V15;
#NET "PLATFLASH_FCS_B"	LOC=W15;
#NET "FPGA_FOE_B"	LOC=Y15;
#NET "FLASH_FWE_B"	LOC=T14;
#NET "PLATFLASH_L_B"	LOC=AB14;
