NET "clk" 	LOC = Y7  |  IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 10.0ns high 50% ;

#NET "CLK_IN1" TNM_NET = "CLK_IN1";
#TIMESPEC "TS_CLK_IN1" = PERIOD "CLK_IN1" 10.0 ns HIGH 50% INPUT_JITTER 100.0ps;

NET "reset_async" 		LOC = W6  |  IOSTANDARD = LVCMOS33;

NET "led[3]" LOC=J15  |  IOSTANDARD = LVCMOS18;
NET "led[2]" LOC=G14  |  IOSTANDARD = LVCMOS18;
NET "led[1]" LOC=T19  |  IOSTANDARD = LVCMOS33;
NET "led[0]" LOC=R19  |  IOSTANDARD = LVCMOS33;

